#container{
    width: 433px;
    height: 800px;
    position: relative;
    margin: auto;
    background-color:  #666666;
    border-radius: 10px;
}
#titulo{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#subtitulo{
    margin-left: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#pedido{
    width: 433px;
    height: 255px;
    background-color:  #404040;

}
#click{
    text-decoration: none;
    padding: 12px; 
    display: block;  
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#entrega{
    background-color: #404040;
    width: 433px;
    height: 355px;
    margin-top: 64px;
    
}

#segsub{
    color: white;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#segclick{
    text-decoration: none;
    padding: 12px; 
    display: block;  
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}